body {

    margin:0;
    font-family: Arial, sans-serif;

    background:
    linear-gradient(
        #8bd36b,
        #5db34a
    );

    min-height:100vh;

    text-align:center;

}


header {

    background:#ffffffcc;

    padding:20px;

}



#city {

    display:grid;

    grid-template-columns:
    repeat(2,150px);

    gap:20px;

    justify-content:center;

    margin-top:30px;

}



.building {

    height:130px;

    font-size:22px;

    border:none;

    border-radius:20px;

    background:white;

    cursor:pointer;

    box-shadow:
    0 5px 10px #0004;

}



.building:hover {

    transform:scale(1.05);

}


.building .lock {

    display:none;

    font-size:16px;

}


.building:disabled {

    opacity:0.5;

    cursor:not-allowed;

    transform:none;

}


.building:disabled .lock {

    display:block;

}



#gamePanel {

    margin:30px auto;

    background:white;

    width:80%;

    max-width:500px;

    border-radius:20px;

    padding:20px;

}



.quizButton {

    display:block;

    width:90%;

    margin:10px auto;

    padding:15px;

    font-size:18px;

    border-radius:15px;

    border:none;

    background:#ffd54f;

    cursor:pointer;

}



.level {

    font-size:50px;

}
