/* Impostazioni */

#btnImpostazioni {

    width:auto;
    display:inline-block;
    padding:8px 14px;
    font-size:18px;
    margin-left:8px;

}


#finestraImpostazioni {

    position:fixed;
    inset:0;
    background:#0008;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:50;

}


#corpoImpostazioni {

    background:white;
    border-radius:20px;
    padding:24px;
    max-width:340px;
    width:90%;
    text-align:center;

}
